@page
@model LockoutModel
@{
    ViewData["Title"] = "You have been banned lol";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Try to behave next time, thou fool.</p>
    <img src="/Images/gandalf.jpg" alt="gandolf" width="840" height="472"/>
</header>
